
<div class="container-fluid" style="padding-top: 20px;">
  <h3>Hello traveller!</h3>
  <br>
  <div class="dash-card">
    <h4 class="dash-card-title">Your infos:</h4>
    <div class="dash-card-text">Your email: <%= @user.email %></div>
    <%# <p>Name: <%= @user.full_name --> to be added once coded %>
  </div>
</div>

<br>

<div class="bookings_wrap">
  <h3>Your pending bookings:</h3>
  <% @user.bookings.each do |booking| %>
    <% if booking.status != "Accepted" %>
      <div class="booking_card">
        <h3><%= booking.journey.title %></h3>
        <h3><%= booking.start_date %></h3>
        <h3><%= booking.status %></h3>
        <%= link_to "Delete this booking", 
                    booking_path(booking), 
                    method: :delete %>

        <%= link_to 'Accept booking', accept_booking_path(booking) %>
      </div>
    <% end %>
  <% end %>

      <h3><%= "Your accepted bookings are:" %></h3>
      <% @user.bookings.each do |booking| %>
        <% if booking.status == "Accepted" %>
          <h3><%= booking.journey.title %></h3>
          <h3><%= booking.start_date %></h3>
        <% end %>
      <% end %>
  </div>


<br>
<h3>This are the journeys you booked for yourself: (bouton edit booking , button delete booking redirect vers accepte and decline)  </h3>
<br>
