<div class="photo-dash container d-grid gap-1 col-12">
  <div class="container-fluid" style="padding-top: 20px;">
    <h3 style ="padding-bottom:30px">Hello traveller!</h3>
    <div class="dash-card">
      <h4 class="dash-card-title">About you</h4>
      <div class="dash-card-text">
        <p> Your email: <%= @user.email %> </p>
        <div class="dash-btn"> <%= link_to "Log out", destroy_user_session_path, :method => :delete %> </p>
        <%# <p>Name: <%= @user.full_name --> to be added once coded %>
      </div>
    </div>

    <div class="bookings_wrap">
      <div class="dash-card">
        <h4 class="dash-card-title">Pending bookings</h4>
          <div class="dash-card-text">
            <% if @user.bookings.empty? %>
                <p> Nobody booked any of your journeys at the moment.
                    Try to <%= link_to "add some", new_journey_path %>,
                    or update the ones you already created.</p>
            <% else %>
                <% @user.bookings.each do |booking| %>
                <% if @user.id == booking.journey.user_id %>
                  <% if booking.status != "Accepted" %>
                    <div class="booking_card">
                      <h3><%= booking.journey.title %></h3>
                      <h3><%= booking.start_date %></h3>
                      <h3><%= booking.status %></h3>
                    <%= link_to "Delete this booking",
                                booking_path(booking),
                                method: :delete,
                                data: { confirm: "Are you sure you want to cancel this booking? You can't undo this" } %>

                    <%= link_to 'Accept booking', accept_booking_path(booking) %>
                    </div>

                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>

      <div class="dash-card">
        <h4 class="dash-card-title">Bookings you accepted</h4>
          <div class="dash-card-text">
            <% if @user.bookings.empty? %>
                <p> Nobody booked any of your journeys at the moment. Try to <%= link_to "add some", new_journey_path %>, or update the ones you already created.</p>
            <% else %>
                <% @user.bookings.each do |booking| %>
                <% if @user.id == booking.id %>

                  <% if booking.status == "Accepted" %>
                    <h3><%= booking.journey.title %></h3>
                    <h3><%= booking.start_date %></h3>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>
  </div>

  <div class="dash-card">
    <h4 class="dash-card-title">Journeys you booked for yourself</h4>
      <div class="dash-card-text">
        <% if @user.bookings.empty? %>
          <p> <strong> Whaaaat?!! </strong></p>
          <p> Don't you crave discovery you lazy marmot? </p>
          <p> If you need some rest from all your adventures, that's fine. 💚
          <p> But know that some journeys DO have soothing environments</p>
          <p> <%= link_to "See for yourself", journeys_path %> by browsing the calm and interior ones.</p>
        <% else %>
          <% @bookings.each do |booking| %>
          <%= booking.journey.title %>
          <div class="dash-btn"><%= link_to "Edit booking", edit_booking_path(booking) %></div>
          <div class="dash-btn"><%= link_to "Delete this booking",
                                booking_path(booking),
                                method: :delete,
                                data: { confirm: "Are you sure you want to cancel this booking? You can't undo this" } %></div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>

