
<%= simple_form_for(@journey) do |f| %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: 'Title' %>
    <%= f.input :address, placeholder: "Address" %>
    <%= f.input :duration, placeholder: 'Duration (minutes)'  %>
    <%= f.input :price, placeholder: 'Price (euros)'  %>
    <%= f.input :exterior, as: :boolean, inline_label: 'This journey is in exterior' %>
    <%= f.select :interest, collection: Journey::INTERESTS, placeholder: 'Select interests (several possible)'  %>
    <%= f.select :sense, collection: Journey::SENSES, placeholder: 'Select senses (several possible)'  %>
    <%= f.input :popularity, placeholder: 'Popularity (between 1 and 10)'  %>
    <%= f.input :anecdote, placeholder: 'Tell a story about this journey!'  %>
    <%= f.input :environment, collection: Journey::ENVIRONMENTS, placeholder: 'Select environment (several possible)' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
