<h1> ALL THE JOURNEYS </h1>

<ul>
  <% @journeys.each do |journey| %>
    <li><%= link_to "PHOTO" %></li>
    <li><%= link_to journey.title, journey_path(journey)  %></li>
    <li> <strong>Journey duration:</strong> <%= journey.duration  %> minutes | <strong>Price:</strong> <%= journey.price  %> euros</li>
  <% end %>
</ul>

<%= link_to "create a new journey", new_journey_path %>

<% console %>
