<h1> ALL THE JOURNEYS </h1>

<div class="contcard-group">
      <% @journeys.each do |journey| %>
      <%= link_to journey_path(journey) do %>
        <div class="card-body">
          <div class="img-container">
          <%= image_tag(journey.photo) %>
          </div>
          <h2 class="card-title"><%= journey.title %></h2>
            <p class="card-text">
              <strong>Journey duration:</strong> <%= journey.duration  %> minutes | <strong>Price:</strong> <%= journey.price  %> euros
            </p>
            <p class="card-text text-center">" <em><%= journey.anecdote %></em> "</p>
          <br>
        </div>
    <% end %>
    <% end %>
</div>

<%= link_to new_journey_path do %>
<button class="btn-journey-customization mx-auto"><strong>CREATE A NEW JOURNEY</strong></button>
  <% end %>
