<h1><%= @journey.title %></h1>

<ul>

<li><strong>Duration:</strong><%= @journey.duration %> minutes | <%= @journey.exterior? ? "Exterior" : "Interior" %></li>
<li><strong>Senses:</strong> <%= @journey.sense %> | <strong>Interests:</strong> <%= @journey.interest %></li>
<li><strong>Environment:</strong> <%= @journey.environment %> | <strong>Popularity:</strong> <%= @journey.popularity %> /10</li>
<li><strong>A little anecdote about this journey:</strong> <%= @journey.anecdote %></li>
<li><strong>Address:</strong> <%= @journey.address %></li>
</ul>

<%= link_to "Book it", new_journey_booking_path(@journey) %>
<%= link_to "Back to all journeys", journeys_path %>
