<h1><%= @journey.title %></h1>

<ul>
<li><%= @journey.photo_url %></li>
<li><%= @journey.duration %></li>
<li><%= @journey.sense %></li>
<li><%= @journey.interest %></li>
<li><%= @journey.address %></li>
</ul>


