<h1><%= @journey.title %></h1>

<ul>
<li><%= @journey.photo_url %></li>
<li><%= @journey.duration %> | <%= @journey.exterior %></li>
<li><%= @journey.sense %> | <%= @journey.interest %></li>
<li><%= @journey.environment %> | <%= @journey.popularity %></li>
<li><%= @journey.anecdote %></li>
<li><%= @journey.address %></li>
</ul>

<%= link_to "Book it", accept_booking_path(@journey) %>


